*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --very-light-pink:#C7C7C7;
    --white: #fff;
    --text-input-field: #f7f7f7;
    --black: #000;
    --hospital-green: #acd9b2;
    --dark: #232830;
    --lg: 1.8rem;
    --md: 1.6rem;
    --sm: 1.4rem;
}
html{
    font-size: 62.5%
}

.logo__container{
    padding: 13rem .5rem 4rem;
    width: 100%;
    text-align: center;
}

.logo{
    width: 40%;
}

.main__container{
    padding: 2rem;
   
}


.recovery-message{
    text-align: center;
    margin-bottom: 5rem;
}

.recovery-message h1{
    font-size: var(--lg);
    margin-bottom: .8rem;
}

.recovery-message p{
    font-size: var(--md);
    color: var(--very-light-pink);
}

.email-image{
    width: 50%;
    text-align: center;
    padding: 4rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-left: 9rem;
    background-color: var(--text-input-field);
    border-radius: 50%;
}


.buttons__container{
    margin-top: .8rem;
    padding: .4rem;
    display:flex;
    flex-direction: column;
}

.button{
    margin: .4rem;
    font-size: var(--md);
    padding: 2rem;
    border-radius: 8px;
    border: none;
    
}

.login {
    background-color: var(--hospital-green);
    
}

.login a{
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

.resend__container{
    font-size: var(--lg);
    color: var(--very-light-pink); 
}

.resend__container a{
    text-decoration: none;
    color: var(--hospital-green);
}